<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="31" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".MiniPlayerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="35">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />

        <activity-alias
            android:name=".icon_note"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".icon_play"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_play"
            android:roundIcon="@mipmap/ic_launcher_play_round"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".icon_note_dark"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_note_dark"
            android:roundIcon="@mipmap/ic_launcher_note_dark_round"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".icon_play_dark"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_play_dark"
            android:roundIcon="@mipmap/ic_launcher_play_dark_round"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".icon_queue"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_queue"
            android:roundIcon="@mipmap/ic_launcher_queue_round"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:name=".icon_001" android:targetActivity=".MainActivity" android:icon="@mipmap/ic_launcher_ico01" android:roundIcon="@mipmap/ic_launcher_ico01" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name=".icon_002" android:targetActivity=".MainActivity" android:icon="@mipmap/ic_launcher_ico02" android:roundIcon="@mipmap/ic_launcher_ico02" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name=".icon_003" android:targetActivity=".MainActivity" android:icon="@mipmap/ic_launcher_ico03" android:roundIcon="@mipmap/ic_launcher_ico03" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name=".icon_004" android:targetActivity=".MainActivity" android:icon="@mipmap/ic_launcher_ico04" android:roundIcon="@mipmap/ic_launcher_ico04" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name=".icon_005" android:targetActivity=".MainActivity" android:icon="@mipmap/ic_launcher_ico05" android:roundIcon="@mipmap/ic_launcher_ico05" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name=".icon_006" android:targetActivity=".MainActivity" android:icon="@mipmap/ic_launcher_ico06" android:roundIcon="@mipmap/ic_launcher_ico06" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name=".icon_007" android:targetActivity=".MainActivity" android:icon="@mipmap/ic_launcher_ico07" android:roundIcon="@mipmap/ic_launcher_ico07" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name=".icon_008" android:targetActivity=".MainActivity" android:icon="@mipmap/ic_launcher_ico08" android:roundIcon="@mipmap/ic_launcher_ico08" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name=".icon_009" android:targetActivity=".MainActivity" android:icon="@mipmap/ic_launcher_ico09" android:roundIcon="@mipmap/ic_launcher_ico09" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name=".icon_010" android:targetActivity=".MainActivity" android:icon="@mipmap/ic_launcher_ico10" android:roundIcon="@mipmap/ic_launcher_ico10" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name=".icon_011" android:targetActivity=".MainActivity" android:icon="@mipmap/ic_launcher_ico11" android:roundIcon="@mipmap/ic_launcher_ico11" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name=".icon_012" android:targetActivity=".MainActivity" android:icon="@mipmap/ic_launcher_ico12" android:roundIcon="@mipmap/ic_launcher_ico12" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name=".icon_013" android:targetActivity=".MainActivity" android:icon="@mipmap/ic_launcher_ico13" android:roundIcon="@mipmap/ic_launcher_ico13" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name=".icon_014" android:targetActivity=".MainActivity" android:icon="@mipmap/ic_launcher_ico14" android:roundIcon="@mipmap/ic_launcher_ico14" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name=".icon_015" android:targetActivity=".MainActivity" android:icon="@mipmap/ic_launcher_ico15" android:roundIcon="@mipmap/ic_launcher_ico15" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name=".icon_016" android:targetActivity=".MainActivity" android:icon="@mipmap/ic_launcher_ico16" android:roundIcon="@mipmap/ic_launcher_ico16" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name=".icon_017" android:targetActivity=".MainActivity" android:icon="@mipmap/ic_launcher_ico17" android:roundIcon="@mipmap/ic_launcher_ico17" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>

        <activity
            android:name=".ui.playlist.PlaylistDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.documentation.DocumentationActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.folders.FolderListActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.audioformat.FormatAudioActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.folders.FolderSettingsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.songs.SongListActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <service
            android:name=".service.MusicService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

    </application>

</manifest>
